<div class="container">
  <mat-card>
    <div class="flight-offer-container">
      <div class="flight-info">
        <p class="origin">Origin: {{selectedFlightOffer?.origin}}</p>
        <p class="destination">Destination: {{selectedFlightOffer?.destination}}</p>
        <p class="price">Price: ${{selectedFlightOffer?.basePrice}}</p>
      </div>
      <div class="button-container">
        <button mat-flat-button class="booking-button" (click)="makeBooking()">Make a Booking!</button>
      </div>
      <div class="horizontal-line"></div>
      <div *ngFor="let rating of ratings" class="rating-item">
        <span class="username">Username {{rating.userId}}:</span>
        <div class="stars">
          <span *ngFor="let r of [].constructor(rating.rating); let i = index" class="star">★</span>
          <span *ngFor="let r of [].constructor(5 - rating.rating); let i = index" class="star empty-star">★</span>
        </div>
      </div>
      
      <div *ngIf="ratings.length === 0">
        <p>No ratings available.</p>
      </div>
    </div>
  </mat-card>
</div>