<div class="container">
  <mat-card>
    <div class="flight-offer-container">
      <div class="flight-info">
        <div style="margin-bottom: 0.5em">
          <div>
            <strong>{{selectedFlightOffer?.airlineName}} </strong>
          </div>
          <div>
            {{selectedFlightOffer?.flightNumber}}
          </div>
          <div>
            {{selectedFlightOffer?.flightClassName}}
          </div>
        </div>

        <div style="display:flex; justify-content: space-between;">
          <span><strong>From:</strong> {{selectedFlightOffer?.origin}}</span>
          <span><strong>Departure:</strong> {{selectedFlightOffer?.departureDate | date:'MMM d, y, h:mm a'}}</span>
        </div>
        <div style="display:flex; justify-content: space-between;">
          <span><strong>To:</strong> {{selectedFlightOffer?.destination}}</span>
          <span><strong>Arrival:</strong> {{selectedFlightOffer?.arrivalDate | date:'MMM d, y, h:mm a'}}</span>
        </div>

        <p class="price"><strong>Price:</strong> ${{selectedFlightOffer?.basePrice}}</p>
      </div>
      <div class="buttons-wrapper" style="display: flex; gap: 20px;">
        <div class="button-container">
          <button mat-flat-button class="booking-button" (click)="setPriceThreshold()">Set price threshold</button>
          <button mat-flat-button class="booking-button" (click)="makeBooking()">Make a Booking!</button>
        </div>
      </div>
      
      <div class="horizontal-line"></div>
      <div *ngIf="ratings.length > 0" class="element">
        <h2>Flight Ratings: </h2>

        <p><strong>Average Rating: </strong>
          <span class="stars">
            <span *ngFor="let r of [].constructor(averageRating); let i = index" class="star">★</span>
            <span *ngFor="let r of [].constructor(5 - averageRating); let i = index" class="star empty-star">★</span>
          </span>
        </p>

        <div *ngFor="let rating of ratings" class="rating-item">
          <span class="username">{{rating.username}}:</span>
          <div class="stars">
            <span *ngFor="let r of [].constructor(rating.rating); let i = index" class="star">★</span>
            <span *ngFor="let r of [].constructor(5 - rating.rating); let i = index" class="star empty-star">★</span>
          </div>
        </div>
      </div>

      <div *ngIf="ratings.length === 0">
        <p>No ratings available.</p>
      </div>
    </div>
  </mat-card>
</div>