<p>hotel-offer works!</p>
<p>{{selectedHotelOffer?.location}}</p>
<p>{{selectedHotelOffer?.hotelName}}</p>
<p>{{selectedHotelOffer?.totalPrice}}</p>
<a (click)="makeBooking()">Go To Booking</a>

<div *ngIf="ratings.length > 0" class="element">
    <h2>Hotel Ratings: </h2>
    
    <p><strong>Average Rating: </strong>
        <span class="stars">
          <span *ngFor="let r of [].constructor(averageRating); let i = index" class="star">★</span>
          <span *ngFor="let r of [].constructor(5 - averageRating); let i = index" class="star empty-star">★</span>
        </span>
      </p>
      
    
    <div *ngFor="let rating of ratings" class="rating-item">
        <span class="username">{{rating.user}}:</span>
        <div class="stars">
          <span *ngFor="let r of [].constructor(rating.rating); let i = index" class="star">★</span>
          <span *ngFor="let r of [].constructor(5 - rating.rating); let i = index" class="star empty-star">★</span>
        </div>
      </div>

  </div>
  
  <div *ngIf="ratings.length === 0">
    <p>No ratings available.</p>
  </div>