<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    {{ isLoginMode ? "Login" : "Register" }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        class="form-control"
        required
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
        required
      />
    </div>

    <div *ngIf="!isLoginMode" class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password:</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
        class="form-control"
        required
      />
    </div>

    <!-- Optional error message -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </form>
</div>

<div class="modal-footer d-flex justify-content-between">
  <button type="button" class="btn btn-link p-0" (click)="switchMode()">
    {{ isLoginMode ? "Create an account" : "Back to login" }}
  </button>

  <div>
    <button
      type="button"
      class="btn btn-secondary rounded-pill border-0"
      (click)="activeModal.dismiss('cancel click')"
    >
      Cancel
    </button>
    <button
      type="submit"
      class="btn btn-primary rounded-pill border-0"
      [disabled]="isLoading"
      (click)="onSubmit()"
    >
      {{ isLoginMode ? "Login" : "Register" }}
    </button>
  </div>
</div>
