<div class="flight-search-container">
  <h1>Flight Search</h1>

  <mat-card class="search-card">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="form-fields">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Origin</mat-label>
          <input matInput id="origin" type="text" formControlName="origin">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Destination</mat-label>
          <input matInput id="destination" type="text" formControlName="destination">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Departure Date</mat-label>
          <input matInput id="departureDate" type="text" formControlName="departureDate">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Max Price</mat-label>
          <input matInput id="maxPrice" type="number" formControlName="maxPrice">
        </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-flat-button color="primary" type="submit">Search</button>
      </div>
    </form>
    <div *ngIf="searchForm.get('departureDate')?.hasError('invalidDateFormat') && searchForm.get('departureDate')?.touched" class="validation-error">
      Date must be in YYYY-MM-DD format and valid!
    </div>
  </mat-card>

  <mat-card *ngIf="filteredFlightOffers.length > 0" class="search-card">
    <div class="flight-offer-cards-container">
      <a *ngFor="let flightOffer of filteredFlightOffers"
        class="flight-offer-card"
        (click)="onFlightOfferClick(flightOffer)">
        <div class="flight-details">
          <h2>
            {{ flightOffer.origin }} to {{ flightOffer.destination }}
          </h2>
          <div>
            <div>
              Departure: {{ flightOffer.departureDate | date:'MMMM d, yyyy, h:mm a' }}
            </div>
            <div>
              Arrival: {{ flightOffer.arrivalDate | date:'MMMM d, yyyy, h:mm a' }}
            </div>
          </div>
          <div style="margin-top: 0.45em;">
            <div>
              Airline: {{ flightOffer.airlineName }}
            </div>
            <div>
              Flight: {{ flightOffer.flightNumber }}
            </div>
            <div>
              Flight Class: {{ flightOffer.flightClassName }}
            </div>
          </div>
        </div>
        <div class="flight-price">
          <p class="price">$ {{ flightOffer.basePrice }}</p>
        </div>
      </a>
    </div>
  </mat-card>
</div>
